<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f121a60c-d00f-449b-9488-b4519e3be1d7/resourceGroups/DefaultResourceGroup-CAU/providers/Microsoft.Web/sites/converter-app</ResourceId>
    <ResourceGroup>DefaultResourceGroup-CAU</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://converter-app.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>converter-app.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>converter-app</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$converter-app</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>